@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Dancing+Script&family=Fasthand&family=Gruppo&family=Island+Moments&family=Kaushan+Script&family=Lusitana&family=Monoton&family=Moon+Dance&family=Quicksand&family=Rubik+Vinyl&family=Rye&family=Satisfy&display=swap');
*{
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar{
    display: none;
}
body{
    background-image: url('https://i.pinimg.com/originals/b2/0e/20/b20e20379e0def016644ab0b4cc1ebda.gif');
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    background-position: center;
}
.skillimg{
    border-radius: 20%;
    padding: 10px;
    border: 2px solid red;
    width: 100px;
    height: 100px;
    background-color: aliceblue;
    margin: 10px;
    transition: 1s;
}
.skillimg:hover{
    transform: scale(1.5);
}
.contactimg{
    width: 45px;
    height: 45px;
    padding: 10px;
    background-color: rgb(17, 3, 31);
}
.contactimg:hover{
border-bottom: 2px solid white;
}
.navigate{
   display: flex;
   justify-content:end;

}
.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    text-align: center;
    color: white;
}
.mainintro{
    font-family: 'Moon Dance', cursive;
    font-size: 100px;
}
.scndintro{
    font-family: 'Dancing Script', cursive;
}
.profilesummary{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 25px;
    text-align: justify;
    font-family: 'Gruppo', cursive;
}
.area{
    font-family: 'Satisfy', cursive;
    color: aliceblue;
    padding-bottom: 50px;
}
.knwlge{
    text-align: center;
}
footer{
    background-color: rgb(17, 3, 31);
    color: rgb(133, 131, 146);
    font-family: 'Gruppo', cursive;
    padding: 10px;
    text-align: center;
    padding: 50px;
}
.contactlink{
    text-align: center;
}